---
title: My dope Blog
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/_includes/assets/apple-touch-icon.png' | url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/_includes/assets/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/_includes/assets/favicon-16x16.png' | url }}">
    <link rel="manifest" href="{{ '/_includes/assets/site.webmanifest' | url }}">
    <style>.content{max-width: 1024px; margin: auto;}</style>
  </head>
  <body>
    <div>
      <div><a href="{{ '/' | url }}">Back</a></div>
      <div class="content">
        <h1 class="title">{{ title }}</h1>
        {{ content | safe }}
      </div>
    </div>
  </body>
</html>
