{% extends "general/base.html" %}

{% block content %}
<div class="row justify-content-center">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

</div>
<div class="row justify-content-md-center">
<div class="col-4">
<form method="post" action="{% url 'user_login' %}">
{% csrf_token %}
      <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="{{ form.username.id_for_label }}" class="sr-only">Username</label>
      <input type="text" id="{{ form.username.id_for_label }}" name="username" class="form-control" placeholder="Username" required autofocus>
      <label for="{{ form.password.id_for_label }}" class="sr-only">Password</label>
      <input type="password" id="{{ form.password.id_for_label }}" name="password" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit" value="{{ next }}">Sign in</button>
    </form>
    </div><div class="col-4"></div>
</div>

{# Assumes you setup the password_reset view in your URLconf #}
{##  <p><a href="{% url 'password_reset' %}">Lost password?</a></p> ##}

{% endblock %}