{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <style>
        footer{
            bottom: 0;
            left:0;
            width: 100%;
            height: 60px;
            line-height: 60px;
            background-color: #f5f5f5;
            padding-left: 5%;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
         <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="https://wiki.time-dev.de">Wiki <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">

            {% if request.user.is_authenticated %}
              <a class="nav-link disabled" href="/accounts/logout">Logout</a>
            {% else %}
              <a class="nav-link disabled" href="/accounts/login">Login</a>
            {% endif %}
            </li>
          </ul>
        <ul class="nav">
            <li class="nav-item">
              <form class="form-inline " action="/find/" method="post">
                  {% csrf_token %}
                <input class="form-control mr-sm-2" type="text" name="find" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success mr-sm-2" type="submit">Search</button>
              </form>
            </li>
        {% if request.user.is_superuser %}
          <li><a class="btn btn-success mr-sm-2" href="{% url 'post-create' %}">+ Post</a></li>
          <li><a class="btn btn-outline-info mr-sm-2 " href="{% url 'feature' %}">+ Feature</a></li>
          {% endif %}
        </ul>
        </div>
      </nav>
    </div>
    <div class="row" style="margin-top:100px">
        <div class="col-md-2">
            <div class="sidebar-sticky">
                <div class="nav flex-column">
                    <li class="nav-item"><h2>Tags</h2></li>
                    {% if tags and groups %}
                        {% for g in groups %}
                            <p>
                                <a data-toggle="collapse" href="#{{ g.name }}" role="button" aria-expanded="false" aria-controls="{{ g.name }}">
                                    {{ g.name }}
                                </a>
                            </p>
                            <div class="collapse" id="{{ g.name }}">
                                <div class="accordion" id="accordion">
                                    <ul class="list-group">
                                    {% for t in tags %}
                                        {% if t.group.name == g.name %}
                                            <li class="list-group-item"><a class="nav-link" href="/tags/{{ t.name }}">{{ t.name }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-10">
        {% block content %}
        {% endblock %}
        </div>
    </div>
</div>
<footer>
    <div class="container text-right ">
        <span class="text-muted mr-2">© Philipp Zettl {% now "Y" %}</span>
            <a href="{% url 'contact' %}" class="btn btn-outline-secondary" role="button" aria-pressed="true">Contact</a>
    </div>
</footer>

    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>