{% extends 'general/base.html' %}
{% block content %}
<form method="POST" action="{{ next }}">{% csrf_token %}
    <div class="row">
        <div class="col">
            <h2>Email:</h2>
            {{ form.sender }}
        </div>
        <div class="col">
            <h2>Category:</h2>
            {{ form.feature_type }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Comment:</h2>
            {{ form.comment }}
        </div>
    </div>
    <div class="row" style="margin: 15px;">
        <button class="btn-success btn" type="submit" value="submit">Submit</button>
    </div>
</form>
{% endblock %}