{% extends 'general/base.html' %}
{% load post %}
{% block content %}
    <h2>Search results for: {{ query }}</h2>

    {% if post %}
        {% for post in post %}
            <div style="background-color: #d4d4d4; margin-top: 30px;padding:15px; margin-bottom: 60px">
        <div>
            <h1 style="color: #004875"><a href="{% url 'post-detail' post.pk %}" style="text-decoration:none;">{{ post.title }}</a></h1>
            <p>{{ post.content|markdown|safe }}</p>
        </div>
            <div class="row">
                <div class="col-8">
                {% if request.user.is_superuser %}
                <a href="{% url 'post-update' post.pk %}">Edit</a>
                {% endif %}
                </div>
                <div class="col-4">
                    <p>by: {{ post.author.user.username }}</p>
                </div>
            </div>
            </div>
        {% endfor %}
    {% else %}
        <h3>No results found.</h3>
    {% endif %}

{% endblock %}