{% extends 'general/base.html' %}
{% block content %}
    <form method="POST" action="{{ next }}">{% csrf_token %}

<div class="row">
    <div class="col">
        <p>Title:</p>
        <p>{{ form.title }}</p>
</div>
    <div class="col">
        <p>Tags:</p>
        <p>{{ form.tags }}</p>
</div>
</div>
<div class="row">
    <div class="col">
        <p>Content:</p>
    </div>
</div>
        <p>{{ form.content }}</p>

        <button class="btn-success btn" type="submit" value="submit">Submit</button>


    {{ form.media }}

    </form>
{% endblock %}