.content {
  max-width: min(80%, 1024px);
  margin: auto;
}

figure {
  display: flex;
}

img {
  margin: auto 25% auto;
  max-width: 50%;
  border-radius: 5px;
  height: auto;
}

hr {
  color: #eee;
}

pre {
  white-space: break-spaces;
}

p {
  word-wrap: break-word;
  text-align: justify;
}
